* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  width: 100%;
}

$main-heading-font: "Playfair Display", serif;
$primary-color: #b48608;
$secondary-color: #683d33;

@mixin section-heading {
  .section-heading {
    .sub-heading {
      font-size: 12px;
      line-height: 30px;
    }

    .main-heading {
      font-family: $main-heading-font;
      font-size: 46px;
      line-height: 50px;
    }
  }

  @media (max-width: 591px) {
    .section-heading {
      .main-heading {
        font-size: 30px;
      }
    }
  }
  @media (max-width: 591px) {
    .section-heading {
      .main-heading {     
       line-height: 35px;
      }
    }
  }
}

@mixin primary-btn {
  .shopnow-btn {
    background-color: $primary-color;
    padding: 10px 20px;
    font-size: 14px;
    transition: 0.3s;

    &:hover {
      color: #fff;
      background-color: $secondary-color;
    }
  }

  @media (max-width: 591px) {
    .shopnow-btn {
      font-size: 12px;
    }
  }
  @media (max-width: 340px) {
    .shopnow-btn {        
      font-size: 10px;
      padding: 8px 10px;
    }
  }
}

@mixin hero-heading {
  .subheading {
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #111111;
  }

  .heading {
    font-family: $main-heading-font;
    font-size: 52px;
    color: #111111;
    line-height: 60px;
    text-shadow: white -1px 0px 0px
  }

  @include primary-btn();

  @media (max-width: 591px) {
    .subheading {
      margin-bottom: 1rem !important;
      font-size: 12px;
    }

    .heading {
      line-height: 40px;
      margin-bottom: 1rem !important;
      font-size: 30px;
    }
  }
  @media (max-width: 361px) {
    .subheading {
      margin-bottom: 0.5rem !important;
      font-size: 12px;
    }

    .heading {
      line-height: 35px;
      margin-bottom: 0.5rem !important;
      font-size: 25px;
    }
  }  
  @media (max-width: 361px) {
    .subheading {
      margin-bottom: 0.5rem !important;
      font-size: 10px;
    }

    .heading {
      line-height: 35px;
      margin-bottom: 0.5rem !important;
      font-size: 22px;
    }
  }
}

@mixin footer-heading {
  .footer-heading {
    h3 {
      font-size: 29px;
      font-family: $main-heading-font;
      line-height: 30px;
      letter-spacing: 1.2px;
    }
  }
}

@mixin item-card {
  .item {
    width: 100%;

    .product-card {
      width: 100%;

      &:hover {
        .img-container {
          img {
            transform: scale(1.1);
          }

          .img-back {
            opacity: 1;
          }

          .img-back,
          .img-front {
            transform: scale(1);
          }

          .cat-desc {
            opacity: 1;

            a {
              opacity: 1;
            }
          }

          .icon-desc {
            opacity: 1;
          }
        }

        .product-info {
          .select-btn .select-op {
            opacity: 1;
          }
        }
      }

      a {
        width: 100%;
      }

      .img-container {
        width: 100%;
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          transition: all 0.5s ease-in-out;
        }

        .img-back {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }

        .cat-desc {
          opacity: 0;
          position: absolute;
          bottom: 25px;
          background-color: #fff;
          transition: all 0.5s ease-in-out;

          a {
            opacity: 0;
            transition: all 0.3s ease-in;
            color: #000000;

            h5 {
              font-family: $main-heading-font;
              font-size: 20px;
              line-height: 30px;
            }
          }

          .shopnow {
            font-size: 13px;
          }
        }

        .icon-desc {
          opacity: 0;
          position: absolute;
          bottom: 20px;
          transition: all 0.5s ease-in-out;

          a i {
            padding: 13.5px 15px;
            background-color: #fff;
            color: #000000;
            font-size: 1.3rem;
            transition: all 0.3s ease-in-out;

            &:hover {
              background-color: $secondary-color;
              color: #ffffff;
            }
          }
        }
      }

      .product-info {
        .product-title h5 {
          font-size: 22px;
          line-height: 32px;
          letter-spacing: 1px;
          font-family: $main-heading-font;
        }

        .select-btn {
          position: relative;

          span {
            font-size: 14px;
          }

          .select-op {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
            background-color: #ffffff;
            transition: opacity 0.8s ease-in-out;
          }
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 0 50px;
  background-color: $primary-color;
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.2);

  .menu-open,
  .menu-close {
    display: none;

    // padding: 0 48px 0px 8px;
    i {
      font-size: 1.8rem;
      color: #ffffff;
      font-weight: bold;
    }
  }

  .menu li {
    padding: 40px 30px;
    position: relative;
    a {
      line-height: 30px;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;

      i:before {
        font-size: 10px;
        font-weight: bold !important;
      }
    }
    &:hover {
      .bi-chevron-down {
        transform: rotate(90deg);
      }
      .dropdownMenu {
        text-decoration: underline;
      }
      .dropdownMenu + div {
        display: block;
      }
    }

    .dropdownMenu + div {
      width: 640px;
      padding: 30px;
      position: absolute;
      top: 110px;
      background-color: #fff;
      box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
      display: none;
    }
    .sub-menu {
      // height: 273px;
      left: 0;
      background-image: url("../image/kunjilal_Dalsev_2.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      .sub-menu-list {
        li {
          padding: 0;
          a {
            text-transform: capitalize;
            font-size: 13px;
            color: #000000;
          }
        }
      }
    }
    .dropdown-slider {
      .owl-carousel {
        .item {
          width: 100%;

          .product-card {
            width: 100%;

            &:hover {
              .img-container {
                img {
                  transform: scale(1.1);
                }

                .img-back {
                  opacity: 1;
                }

                .img-back,
                .img-front {
                  transform: scale(1);
                }
              }
            }

            a {
              width: 100%;
            }

            .img-container {
              width: 100%;
              overflow: hidden;
              position: relative;

              img {
                width: 100%;
                transition: all 0.5s ease-in-out;
              }

              .img-back {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
              }
            }

            .product-info {
              .product-title h5 {
                font-size: 14px;
                // line-height: 32px;
              }

              .select-btn {
                span {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  .search-cart {
    padding: 40px 0;
    column-gap: 35px;
    cursor: pointer;

    .search-bar {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 99;
      padding: 0 50px;
      min-height: 110px;
      background-color: #000000;

      .input-group {
        width: 38%;
        position: relative;

        label {
          position: absolute;
          font-size: 15px;
          top: 6px;
          left: 6px;
          transition: all 0.3s ease-in-out;
        }

        input {
          width: 100%;
          padding: 10px 5px 5px;
          font-size: 13px;
          outline: none;
          border: none;
          background-image: url("../image/search-icon.png");
          background-position: right 10px center;
          background-size: 20px;
          background-repeat: no-repeat;

          &:focus ~ label {
            font-size: 10px;
            top: 0;
          }
        }
      }
    }

    .cart {
      position: relative;

      .counter {
        margin-left: 2px;
        display: inline-block;
        font-size: 13px;
        background-color: #fff;
        width: 17px;
        height: 17px;
        border-radius: 50%;
      }
      .cart-slide {
        display: none;
        position: absolute;
        width: 300px;
        right: 0;
        top: 66px;
        padding: 20px;
        .cart-item {
          .item-img {
            width: 70px;
            height: 70px;
            img {
              // width: 100%;
              height: 100%;
            }
          }
          .item-title {
            h6,
            span {
              font-size: 14px;
              line-height: 18px;
              font-weight: 600;
              letter-spacing: 0.5px;
            }
          }
        }
        .cart-total {
          span {
            font-size: 13px;
          }
        }
        .cart-btn {
          @include primary-btn;
        }
      }
    }
  }
  .mobile-menu {
    background-color: #fff;
    position: absolute;
    // display: none;
    height: 100vh;
    width: 250px;
    top: 75px;
    left: -300px;
    transition: all 0.3s ease-in-out;
    ul li {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      a {
        color: #000;
        font-size: 14px;
      }
    }
  }
  .mobile-menu.open {
    left: 0;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
  @media (max-width: 340px) {
    .search-cart .cart .cart-slide {
      width: 250px;
      right: -7px;
      padding: 15px;
      .cart-item {
        .item-title {
          h6,
          span {
            font-size: 14px;
            letter-spacing: 0.1px;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .logo img {
      width: 140px;
    }

    .search-cart {
      column-gap: 20px;
    }
  }
  @media (max-width: 300px) {
    .logo img {
      width: 120px;
    }

    .search-cart {
      column-gap: 10px;
    }
  }
  
  @media (max-width: 591px) {
    .search-cart .search-bar {
        .input-group {
          width: 100%;
        }
      }
  }
  @media (min-width: 991px) {
    .menu-close,
    .mobile-menu {
      display: none !important;
    }
  }

  @media (max-width: 991px) {
    padding: 0 15px;

    .menu {
      display: none !important;
    }

    .search-cart {
      padding: 26px 0px;
    }

    .menu-open {
      display: block;
    }
  }

  @media (max-width: 1267px) {
    .menu li {
      padding: 40px 13px;
    }
  }
}

main {
  margin-top: 110px;

  @media (max-width: 991px) {
    margin-top: 76px;
  }
}

.hero-section {
  .owl-carousel {
    position: relative;

    &:hover .owl-nav {
      display: block !important;
    }

    .item {
      position: relative;

      .slide-desc {
        position: absolute;
        z-index: 8;
        top: 36%;
        left: 13%;
        @include hero-heading();
      }
    }

    .owl-nav {
      display: none;

      .owl-prev,
      .owl-next {
        top: 0;
        bottom: 0;
        position: absolute;

        &:hover {
          background-color: transparent !important;
        }

        i {
          background-color: $primary-color;
          color: #fff;
          border: 2px solid #ffffff;
          border-radius: 0px;
          padding: 14px 14px !important;
        }
      }

      .owl-next {
        right: 3%;
      }

      .owl-prev {
        left: 3%;
      }
    }
  }
  
  @media (max-width: 591px) {
    .owl-carousel {
      .item {
        .slide-desc {
          top: 30%;
          left:16%;
        }
      }

      .owl-nav {
        .owl-prev,
        .owl-next {
          i {
            padding: 8px !important;
          }
        }

        .owl-prev {
          left: 1%;
        }

        .owl-next {
          right: 1%;
        }
      }
    }
  }
  @media (max-width: 295px) {
    .owl-carousel {
      .item {
        .slide-desc {
          top: 20%;
        }
      }
    }
  }
  @media (max-width: 991px) {
    .owl-carousel {
      .owl-nav {
        .owl-prev {
          left: 0;
        }

        .owl-next {
          right: 0;
        }
      }
    }
  }
}

.category-section {
  padding: 0px 30px;

  .owl-carousel {
    @include item-card();
  }
}

.special-products {
  padding: 0px 30px;
  @include section-heading();

  .owl-carousel {
    @include item-card();

    &:hover {
      .owl-nav {
        display: block !important;
      }
    }

    .owl-nav {
      display: none;

      .owl-prev,
      .owl-next {
        top: 37%;
        position: absolute;

        &:hover {
          color: #000000;
        }

        &:hover {
          background-color: transparent !important;
        }

        i {
          background-color: white;
          border-radius: 100px;
          padding: 14px 14px !important;
          font-size: 1.3rem;
          box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
        }
      }

      .owl-next {
        right: -2%;
      }

      .owl-prev {
        left: -2%;
      }
    }
  }
}

.parallex-image {
  background-image: url("../image/parallax-img.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 154px 0;
  @include hero-heading();
}

.category-filter {
  padding: 0px 30px;
  @include section-heading();

  .filter-list {
    .cat-list {
      font-size: 11px;
      line-height: 18px;
      letter-spacing: 1.8px;
      color: #000000;
      cursor: pointer;
    }

    .cat-list.active {
      border-bottom: 1px solid #b48608;
    }
  }

  .owl-carousel {
    @include item-card();

    &:hover {
      .owl-nav {
        display: block !important;
      }
    }

    .owl-nav {
      display: block;
      position: absolute;
      top: -7%;
      right: 0;
      font-size: 1.5rem;

      .owl-next,
      .owl-prev {
        &:hover {
          background-color: transparent !important;
        }

        i {
          color: #000000;
        }
      }
    }
  }
}

.testimonial {
  padding: 0 30px;
  @include section-heading();

  .owl-carousel {
    .item {
      .rating i {
        color: #ffc30e;
        font-size: 13px;
      }

      .comment p {
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 0.4px;
      }

      .customer {
        .name {
          font-size: 15px;
        }

        .profession {
          font-size: 13px;
        }
      }
    }
  }
  @media (max-width:348px) {
    .owl-carousel {
        .item {
          
    
          .comment p {
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.2px;
            margin-bottom: 0!important;
          }
    
          .customer {
            flex-direction: column;
          }
        }
      }
  }
}

.feature {
  background-color: #111111;

  .owl-carousel {
    .item {
      width: 100%;

      &:hover {
        .service-icon img {
          transform: rotateY(360deg);
        }
      }

      .service-icon {
        width: 72px;
        height: 77px;

        img {
          width: 66px;
          transition: transform 0.5s ease-in-out;
        }
      }

      .service-desc {
        .service-title {
          font-size: 24px;
          font-family: $main-heading-font;
        }

        .service-subtitle {
          font-size: 15px;
          color: #ccc;
          line-height: 21px;
        }
      }
    }
  }
  @media (max-width:320px) {
    .owl-carousel {
        .item {
            .service-icon {
                img {
                  width: 60px;
                }
              }
          .service-desc {
            .service-title {
              font-size: 20px;
            }
            .service-subtitle {
              font-size: 12px;
            }
          }
        }
      } 
  }
}

footer {
  @include footer-heading();

  ul li {
    line-height: 30px;
    color: #777;
    font-size: 15px;

    a {
      color: #777;

      &:hover {
        color: $primary-color;
      }
    }

    i {
      font-size: 13px;
    }
  }

  p {
    font-size: 15px;
  }

  .newsletter {
    position: relative;

    input[type="text"] {
      width: 100%;
      border: none;
      outline: none;
      padding: 5px 8px;
      border-bottom: 1px solid #000;

      &::placeholder {
        // position: absolute;
        font-size: 14px;
        color: #afaeae;
      }
    }

    .send-btn {
      height: 41px;
      width: 45px;
      position: absolute;
      right: 0;
      border: none;
      background: url(../image/send-btn.webp) no-repeat 10px;
      background-size: 20px;
      background-color: transparent;
    }
  }

  .social-links {
    a {
      color: $primary-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .footer-bottom {
    a:hover {
      color: $primary-color !important;
    }
  }
}

.site-navigation {
  min-height: 150px;
  background-color: #f5f5f5;

  a,
  span {
    font-size: 13px;
  }

  a {
    width: 50px;

    &::after {
      content: "/";
      position: absolute;
      right: 5px;
      bottom: -1px;
    }
  }
}

//***********************|About Us|*****************************************//

.history {
  h4 {
    font-family: $main-heading-font;
    font-size: 1.3rem;
    color: #111111;
  }

  p {
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 22px;
    color: #111111;
  }
}

//***********************|Contact Us|*****************************************//

.contact-info {
  @include section-heading();

  form {
    .form-floating {
      .form-control {
        height: 42px !important;
        padding: 8px;
        font-size: 14px !important;
        padding-left: 0.8rem !important;
        background-color: #f7f7f7;

        &:focus {
          box-shadow: none !important;
        }
      }

      label {
        top: -16% !important;
        font-size: 14px !important;
        color: rgb(17 17 17 / 75%);
        letter-spacing: 1px;
      }
    }

    @include primary-btn();
  }

  .address {
    ul li {
      font-size: 13px;
      padding-bottom: 20px;

      i {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 991px) {
    .add {
      padding-left: 12px !important;
    }
  }
}

//***********************|Single product|*****************************************//

.product {
  .product-image {
    width: 100%;
    position: relative;

    img {
      width: 99.15%;
      cursor: all-scroll;
    }

    .zoom-btn {
      background-color: #ffffff;
      position: absolute;
      top: 1.3rem;
      left: 1.3rem;
      height: 1.9rem;
      width: 1.9rem;
      font-size: 12px;
      border-radius: 100px;
      cursor: zoom-in;
    }
  }

  .product-desc {
    .product-title {
      font-size: 30px;
      font-family: $main-heading-font;
    }

    .product-price {
      font-size: 22px;
    }

    .rating {
      .star {
        column-gap: 2px;

        i {
          color: #d7d7d7;
          font-size: 10px;
        }
      }

      span {
        font-size: 13px;
      }
    }

    .product-detail {
      h5 {
        font-family: $main-heading-font;
        font-size: 20px;
        letter-spacing: 0.8px;
      }

      span {
        font-size: 13px;
      }

      .tags {
        li {
          padding: 5px 10px;
          font-size: 13px;
          background-color: #f5f5f5;
        }
      }

      .variant {
        li {
          font-size: 1rem;
          font-family: $main-heading-font;
          padding: 0.5rem 1.2rem;

          &:hover {
            border-color: #000000 !important;
          }
        }

        .selected {
          border-color: #000000 !important;
        }
      }
    }

    .product-btn {
      @include primary-btn();

      .shop-btn {
        background-color: #e7e7e7;
        color: #000000;

        &:hover {
          background-color: #000000;
        }
      }
    }
  }

  .com-wish-btn {
    a {
      font-size: 14px;
    }
  }

  .product-accordion {
    .accordion-head {
      cursor: pointer;
      i:before {
        font-weight: bold !important;
      }

      .accordion-title {
        span {
          font-family: $main-heading-font;
          // font-size: 15px;
        }
      }

      .bi-chevron-down.rotate {
        transform: rotate(180deg);
      }
    }

    .accordion-desc {
      display: none;

      p {
        font-size: 14px;
      }
    }

    .expand {
      display: block;
    }
  }

  .description h6,
  .review h6 {
    font-size: 14px;
  }

  @media (max-width: 591px) {
    .product-desc {
      .product-title {
        font-size: 1.5rem;
      }

      .product-detail {
        h5 {
          font-size: 16px;
        }

        span {
          font-size: 11px;
        }
      }
    }
  }
}
